<div class="nav-container" style="padding:20px">

    <button class="btn btn-primary btn-sm mx-1" routerLink="home">Home</button>

    <button class="btn btn-primary btn-sm mx-1" routerLink="Parent">Parent</button>
    <button class="btn btn-primary btn-sm mx-1" routerLink="child">Child</button>
    <button class="btn btn-primary btn-sm mx-1" routerLink="refVar">Reference_Varible</button>
    <button class="btn btn-primary btn-sm mx-1" routerLink="typescript">Typescript</button>
    <button class="btn btn-primary btn-sm mx-1" routerLink="fileupload">File Upload</button>
    <button class="btn btn-primary btn-sm mx-1" routerLink="jsonservice">JSON Service</button>
    <button class="btn btn-primary btn-sm mx-1" routerLink="apiserver">API from Server</button>
</div>