<div class="containainer">





    <div class="card">

        <div class="card-header">

            .
            <p>child works!</p>

        </div>


        <div class="card-body">

            <p>
                Today's item from Parent: {{item}}

            </p>
            <span style="color: aqua;"> 
                Reference variable {{variable}}
            </span><br>

            <input type="text" id="item-input" #newItem>

        </div>


        <div class="card-footer">
            <button class="btn btn-primary" (click)="addNewItem(newItem.value)">{{item}}</button>
        </div>

    </div>
</div>